<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Notes App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello and welcome to Good Notes!</h1>
    <h2>Feel free to create and modify your notes :)</h2>
    <button><a href="/notes">GO TO MY NOTES</a></button>
    <button><a href="/createnote">CREATE A NEW NOTE</a></button>
    
</body>
</html>